# URL de conexão com o Banco de Dados
# Formato: mysql://USER:PASSWORD@HOST:PORT/DATABASE
DATABASE_URL="mysql://root:suasenha@localhost:3306/hive_db"

# Configurações de Autenticação
JWT_SECRET="mude_isso_para_uma_chave_segura"
JWT_EXPIRES_IN="1d"

# Porta do Servidor Backend
PORT=3333